# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
next-env.d.ts

# production build output
build/
dist/

# playwright / traffic generator artifacts
test-results/
playwright-report/
playwright/.cache/
traffic-output/

# misc
.DS_Store
*.pem
.vercel
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env
.env
.env*.local
